.container {
    background-color: var(--french-gray);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: var(--indigo);
}


.title {
    color: var(--thistle);
    font-weight: bold;
}
