.container {
    background-color: var(--violet-english);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.title {
    color: var(--thistle);
    font-size: 1.5em;
    font-weight: bold;
}