<!DOCTYPE html>
<html>
    <head>
        <title>ECommerce</title>
    </head>
        <body>
            <h1>Products</h1>
            <ul>
                {% for product in products %}
                <li>
                    <h2>{{ product.product_name }}</h2>    
                    <img src="{{ product.product_image}}" alt="">
                    {% if produto.imagem %}
                    <img src="{{ product.product_image }}" alt="{{ product.product_name }}" class="produto-imagem">
                    {% else %}
                        <p>Sem imagem</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </body>
</html>