.grid_container {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr 40px;
    height: 100vh;
    gap: 12px;
    padding: 16px;
    background-color: var(--french-gray);
    font-family: 'Inter', sans-serif;
    color: var(--violet-english);
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}